@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}




/*头部导航开始*/
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: rgba(58, 206, 241, 0.03);
    width: 100%;


}
.fl{
    position: relative;
}
.dt i,
.fore i
{
    font:400 20px/20px "宋体" ;
    position: absolute;
    right: 9px;
    top: 13px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}
.dt,
.shortcut .fore
{
    padding: 0 25px 0 10px;

}
.dt s,
.fore s
{
    position: absolute;
    top: -7px;
    left: 0
}
.fr li{
    float: left;
    padding-right: 10px;
    position:relative;
}
 .fr .line{
    width: 1px;
    height: 12px;
    background-color: #e7e2e4;
    margin-top: 9px;
     padding: 0;
     margin-right: 7px;

}
 /*顶部结束*/
/*topbanner开始*/
.topbanner{
    background-color: #8A25A3;
}

.closebanner{
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}
.closebanner:hover{
    background-position:bottom;
}
.topbannerparent{
    position: relative;
}
/*topbanner结束*/
.logo{
    width:362px;
    height: 75px;
    background-color: pink;
    float: left;
    padding-top: 25px;
    background: url("../images/logo.png") no-repeat 0 25px;
    position: relative;
}
.search{
    width: 538px;
    height:75px;
    background-color: purple;
    float: left;
    padding-top: 25px;

}
.car{
    width: 139px;
    height: 34px;
    background-color: blue;
    float: right;
    margin: 25px 65px 0 0 ;
}
.jda{
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;
}
.db11{
    position:absolute ;
    width:180px;
    height: 80px;
    background-color: pink;
    top: 0px;
    right: 14px;
    background:url("../images/dong.gif") no-repeat 0 25px;
}
.db111{
    display: block;
    width: 150px;
    height: 60px;
    text-indent: -2000em;
}

/*头部banner结束*/

